@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


/********** NAV **********/
header {
background-color: #d3ddfd;
border-bottom: 2px #d3ddfd solid;
box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.418);
display: flex;
justify-content: space-between;
align-items: center;
padding-bottom: 5px;
padding-top: 5px;
margin-bottom: 35px;
}

header nav {
margin: auto;
text-align: center;
}

header li {
display: inline-block;
list-style: none;
margin: 10px 5px 15px 5px;

}

header img {
width: 50px;
height: 50px;
padding-left: 10px;
cursor: pointer;
}

header a {
border: 2px solid #6177af;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.466);
text-decoration: none;
padding: 5px 5px;
border-radius: 12px 0px;
color: #5a5a5a;
background-color: #ffffff;
display: block;
font-weight: bold;
font-size: 90%;
}

header a:hover {
border: 2px solid #68acc9;
transform: translateY(2.5px);
transition: all 0.1s ease-in-out;
}

header h3 {
cursor: pointer;
padding-left: 10px;
color: orange;
text-shadow: black 2px 2px 2px;
}

#nav-img {
margin-left: 15px;
padding-right: 5px;
}

#nav-img h3 {
padding: 0;
}

#nav-img img {
padding: 0;
}

/********** NAV **********/



/********** POPULARES **********/

.populares {
display: flex;
flex-direction: column;
max-width: 800px;
margin: 0 auto;
}

.populares div {
max-width: 800px;
padding: 0px 5px;
}

.populares div img {
width: 99.2%;
border: 2px solid #FB9958;
border-radius: 10px;
}

.populares div h2 {
margin-left: 10px;
margin-bottom: 5px;
}


.populares p {
margin-bottom: 60px;
padding: 0px 5px;
}

.populares h3 {
border-bottom: 2px solid #F99027;
margin-bottom: 35px;
padding: 5px 5px;
font-weight: normal;
}

/********** POPULARES **********/

/********** FOOTER **********/
footer {
background-color: #d3ddfd;
border-top: 2px solid #adbae4;
}

.doggy {
color: orange;
font-weight: bold;
text-shadow: black -2px 2px;
text-align: center;
padding-top: 12px;
padding-bottom: 8px;
}

#owner {
color: gray;
font-size: 85%;
text-align: center;
}

/********** FOOTER **********/